# Node (Frontend)
frontend/node_modules/
frontend/dist/
.eslintcache

# Python (Backend)
backend/__pycache__/
backend/*.pyc
backend/db.sqlite3
backend/.env

# Docker & Sistema
.DS_Store
*.log

.env
# Backup do banco de dados
.backup_cyrius_.sql

# Arquivos staticos
static_volume