# Node (Frontend)
frontend/node_modules/
frontend/dist/
.eslintcache

# Python (Backend)
backend/__pycache__/
backend/*.pyc
backend/db.sqlite3
backend/.env
backend/chamados/migations/*
backend/chamados/management/
backend/clientes/migations/*
backend/clientes/management/
Backend/contratos/*
backend/docs_estoque/*
backend/equipe/migrations/*
backend/estoque/migrations/*
backend/estoque/management/
backend/financeiro/migrations/*
backend/fotos_equipe/*
backend/infra/migations/*
backend/infra/management/
backend/media/*
backend/servicos/migrations/*
backend/servicos_docs/*

# Docker & Sistema
.DS_Store
*.log

.env
backend/docs_estoque/*.pdf
backend/*
