--
-- PostgreSQL database dump
--

\restrict fmg3omBQYxgsntA49MpFdWJCqSvd8P4umViFuhsi7pfmRLxDiV2JQvP1wGe9fIJ

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: TB_APONTAMENTO_HORAS; Type: TABLE; Schema: public; Owner: admin_ti
--

CREATE TABLE public."TB_APONTAMENTO_HORAS" (
    id bigint NOT NULL,
    horas_gastas numeric(5,2) NOT NULL,
    descricao_tecnica character varying(255) NOT NULL,
    data_apontamento timestamp with time zone NOT NULL,
    id_chamado_tecnico bigint NOT NULL
);


ALTER TABLE public."TB_APONTAMENTO_HORAS" OWNER TO admin_ti;

--
-- Name: TB_APONTAMENTO_HORAS_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ti
--

ALTER TABLE public."TB_APONTAMENTO_HORAS" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."TB_APONTAMENTO_HORAS_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: TB_ATIVO; Type: TABLE; Schema: public; Owner: admin_ti
--

CREATE TABLE public."TB_ATIVO" (
    id bigint NOT NULL,
    tipo character varying(20) NOT NULL,
    id_cliente bigint NOT NULL,
    anydesk_id character varying(50) NOT NULL,
    armazenamento character varying(100) NOT NULL,
    ip_local character varying(20) NOT NULL,
    marca_modelo character varying(100) NOT NULL,
    memoria_ram character varying(50) NOT NULL,
    nome character varying(100) NOT NULL,
    processador character varying(100) NOT NULL,
    senha_local character varying(100) NOT NULL,
    sistema_operacional character varying(50) NOT NULL,
    usuario_local character varying(50) NOT NULL
);


ALTER TABLE public."TB_ATIVO" OWNER TO admin_ti;

--
-- Name: TB_ATIVO_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ti
--

ALTER TABLE public."TB_ATIVO" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."TB_ATIVO_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: TB_CHAMADO; Type: TABLE; Schema: public; Owner: admin_ti
--

CREATE TABLE public."TB_CHAMADO" (
    id bigint NOT NULL,
    titulo character varying(100) NOT NULL,
    descricao_detalhada text NOT NULL,
    origem character varying(50) NOT NULL,
    status character varying(20) NOT NULL,
    prioridade character varying(20) NOT NULL,
    protocolo character varying(30) NOT NULL,
    data_abertura timestamp with time zone NOT NULL,
    data_fechamento timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    id_cliente bigint NOT NULL,
    custo_transporte numeric(10,2) NOT NULL,
    data_agendamento timestamp with time zone,
    tipo_atendimento character varying(20) NOT NULL
);


ALTER TABLE public."TB_CHAMADO" OWNER TO admin_ti;

--
-- Name: TB_CHAMADO_TECNICO; Type: TABLE; Schema: public; Owner: admin_ti
--

CREATE TABLE public."TB_CHAMADO_TECNICO" (
    id bigint NOT NULL,
    horas_trabalhadas numeric(5,2) NOT NULL,
    id_chamado bigint NOT NULL,
    id_tecnico bigint NOT NULL
);


ALTER TABLE public."TB_CHAMADO_TECNICO" OWNER TO admin_ti;

--
-- Name: TB_CHAMADO_TECNICO_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ti
--

ALTER TABLE public."TB_CHAMADO_TECNICO" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."TB_CHAMADO_TECNICO_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: TB_CHAMADO_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ti
--

ALTER TABLE public."TB_CHAMADO" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."TB_CHAMADO_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: TB_CLIENTE; Type: TABLE; Schema: public; Owner: admin_ti
--

CREATE TABLE public."TB_CLIENTE" (
    id bigint NOT NULL,
    razao_social character varying(100) NOT NULL,
    cpf character varying(11),
    cnpj character varying(18),
    endereco character varying(150) NOT NULL,
    valor_contrato_mensal numeric(10,2) NOT NULL,
    dia_vencimento smallint NOT NULL,
    tipo_cliente character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    CONSTRAINT "TB_CLIENTE_dia_vencimento_check" CHECK ((dia_vencimento >= 0))
);


ALTER TABLE public."TB_CLIENTE" OWNER TO admin_ti;

--
-- Name: TB_CLIENTE_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ti
--

ALTER TABLE public."TB_CLIENTE" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."TB_CLIENTE_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: TB_CONTATO_CLIENTE; Type: TABLE; Schema: public; Owner: admin_ti
--

CREATE TABLE public."TB_CONTATO_CLIENTE" (
    id bigint NOT NULL,
    nome character varying(100) NOT NULL,
    cargo character varying(50) NOT NULL,
    telefone character varying(20) NOT NULL,
    email character varying(254) NOT NULL,
    is_principal boolean NOT NULL,
    cliente_id bigint NOT NULL
);


ALTER TABLE public."TB_CONTATO_CLIENTE" OWNER TO admin_ti;

--
-- Name: TB_CONTATO_CLIENTE_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ti
--

ALTER TABLE public."TB_CONTATO_CLIENTE" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."TB_CONTATO_CLIENTE_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: TB_CONTA_EMAIL; Type: TABLE; Schema: public; Owner: admin_ti
--

CREATE TABLE public."TB_CONTA_EMAIL" (
    id bigint NOT NULL,
    email character varying(254) NOT NULL,
    senha character varying(100) NOT NULL,
    nome_usuario character varying(100) NOT NULL,
    provedor character varying(50) NOT NULL,
    cliente_id bigint NOT NULL
);


ALTER TABLE public."TB_CONTA_EMAIL" OWNER TO admin_ti;

--
-- Name: TB_CONTA_EMAIL_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ti
--

ALTER TABLE public."TB_CONTA_EMAIL" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."TB_CONTA_EMAIL_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: TB_DOCUMENTACAO_TECNICA; Type: TABLE; Schema: public; Owner: admin_ti
--

CREATE TABLE public."TB_DOCUMENTACAO_TECNICA" (
    id bigint NOT NULL,
    configuracao_mikrotik text NOT NULL,
    estrutura_servidores text NOT NULL,
    topologia_rede text NOT NULL,
    rotina_backup text NOT NULL,
    pontos_fracos_melhorias text NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    cliente_id bigint NOT NULL
);


ALTER TABLE public."TB_DOCUMENTACAO_TECNICA" OWNER TO admin_ti;

--
-- Name: TB_DOCUMENTACAO_TECNICA_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ti
--

ALTER TABLE public."TB_DOCUMENTACAO_TECNICA" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."TB_DOCUMENTACAO_TECNICA_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: TB_EQUIPAMENTO_ENTRADA; Type: TABLE; Schema: public; Owner: admin_ti
--

CREATE TABLE public."TB_EQUIPAMENTO_ENTRADA" (
    id bigint NOT NULL,
    marca_modelo character varying(100) NOT NULL,
    numero_serie character varying(50),
    acessorios character varying(150),
    estado_conservacao character varying(100),
    defeito_relatado text NOT NULL,
    data_entrada date NOT NULL,
    data_prevista_entrega date NOT NULL,
    relatorio_tecnico text,
    id_chamado bigint NOT NULL
);


ALTER TABLE public."TB_EQUIPAMENTO_ENTRADA" OWNER TO admin_ti;

--
-- Name: TB_EQUIPAMENTO_ENTRADA_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ti
--

ALTER TABLE public."TB_EQUIPAMENTO_ENTRADA" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."TB_EQUIPAMENTO_ENTRADA_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: TB_EQUIPE; Type: TABLE; Schema: public; Owner: admin_ti
--

CREATE TABLE public."TB_EQUIPE" (
    id bigint NOT NULL,
    nome character varying(100) NOT NULL,
    cargo character varying(50) NOT NULL,
    custo_hora numeric(10,2) NOT NULL,
    usuario_id integer
);


ALTER TABLE public."TB_EQUIPE" OWNER TO admin_ti;

--
-- Name: TB_EQUIPE_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ti
--

ALTER TABLE public."TB_EQUIPE" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."TB_EQUIPE_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: TB_LANCAMENTO_FINANCEIRO; Type: TABLE; Schema: public; Owner: admin_ti
--

CREATE TABLE public."TB_LANCAMENTO_FINANCEIRO" (
    id bigint NOT NULL,
    descricao character varying(150) NOT NULL,
    valor numeric(10,2) NOT NULL,
    status character varying(20) NOT NULL,
    tipo_lancamento character varying(20) NOT NULL,
    data_vencimento date NOT NULL,
    created_at timestamp with time zone NOT NULL,
    id_cliente bigint NOT NULL
);


ALTER TABLE public."TB_LANCAMENTO_FINANCEIRO" OWNER TO admin_ti;

--
-- Name: TB_LANCAMENTO_FINANCEIRO_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ti
--

ALTER TABLE public."TB_LANCAMENTO_FINANCEIRO" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."TB_LANCAMENTO_FINANCEIRO_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: TB_PROVEDOR_INTERNET; Type: TABLE; Schema: public; Owner: admin_ti
--

CREATE TABLE public."TB_PROVEDOR_INTERNET" (
    id bigint NOT NULL,
    nome_operadora character varying(50) NOT NULL,
    plano_contratado character varying(100) NOT NULL,
    ip_fixo character varying(50) NOT NULL,
    telefone_suporte character varying(20) NOT NULL,
    usuario_pppoe character varying(100) NOT NULL,
    senha_pppoe character varying(100) NOT NULL,
    cliente_id bigint NOT NULL
);


ALTER TABLE public."TB_PROVEDOR_INTERNET" OWNER TO admin_ti;

--
-- Name: TB_PROVEDOR_INTERNET_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ti
--

ALTER TABLE public."TB_PROVEDOR_INTERNET" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."TB_PROVEDOR_INTERNET_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: admin_ti
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO admin_ti;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ti
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: admin_ti
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO admin_ti;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ti
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: admin_ti
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO admin_ti;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ti
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: admin_ti
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO admin_ti;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: admin_ti
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO admin_ti;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ti
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ti
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: admin_ti
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO admin_ti;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ti
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: admin_ti
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO admin_ti;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ti
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: admin_ti
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO admin_ti;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ti
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: admin_ti
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO admin_ti;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ti
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: admin_ti
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO admin_ti;

--
-- Data for Name: TB_APONTAMENTO_HORAS; Type: TABLE DATA; Schema: public; Owner: admin_ti
--

COPY public."TB_APONTAMENTO_HORAS" (id, horas_gastas, descricao_tecnica, data_apontamento, id_chamado_tecnico) FROM stdin;
\.


--
-- Data for Name: TB_ATIVO; Type: TABLE DATA; Schema: public; Owner: admin_ti
--

COPY public."TB_ATIVO" (id, tipo, id_cliente, anydesk_id, armazenamento, ip_local, marca_modelo, memoria_ram, nome, processador, senha_local, sistema_operacional, usuario_local) FROM stdin;
1	COMPUTADOR	1	888-111-666			I5 3gen. 8gb RAM		pc				admin
\.


--
-- Data for Name: TB_CHAMADO; Type: TABLE DATA; Schema: public; Owner: admin_ti
--



--
-- Data for Name: TB_CHAMADO_TECNICO; Type: TABLE DATA; Schema: public; Owner: admin_ti
--

COPY public."TB_CHAMADO_TECNICO" (id, horas_trabalhadas, id_chamado, id_tecnico) FROM stdin;
1	0.00	1	5
2	0.00	2	5
3	0.00	2	1
\.


--
-- Data for Name: TB_CLIENTE; Type: TABLE DATA; Schema: public; Owner: admin_ti
--



--
-- Data for Name: TB_CONTATO_CLIENTE; Type: TABLE DATA; Schema: public; Owner: admin_ti
--

COPY public."TB_CONTATO_CLIENTE" (id, nome, cargo, telefone, email, is_principal, cliente_id) FROM stdin;
\.


--
-- Data for Name: TB_CONTA_EMAIL; Type: TABLE DATA; Schema: public; Owner: admin_ti
--

COPY public."TB_CONTA_EMAIL" (id, email, senha, nome_usuario, provedor, cliente_id) FROM stdin;
\.


--
-- Data for Name: TB_DOCUMENTACAO_TECNICA; Type: TABLE DATA; Schema: public; Owner: admin_ti
--

COPY public."TB_DOCUMENTACAO_TECNICA" (id, configuracao_mikrotik, estrutura_servidores, topologia_rede, rotina_backup, pontos_fracos_melhorias, updated_at, cliente_id) FROM stdin;
\.


--
-- Data for Name: TB_EQUIPAMENTO_ENTRADA; Type: TABLE DATA; Schema: public; Owner: admin_ti
--

COPY public."TB_EQUIPAMENTO_ENTRADA" (id, marca_modelo, numero_serie, acessorios, estado_conservacao, defeito_relatado, data_entrada, data_prevista_entrega, relatorio_tecnico, id_chamado) FROM stdin;
\.


--
-- Data for Name: TB_EQUIPE; Type: TABLE DATA; Schema: public; Owner: admin_ti
--

COPY public."TB_EQUIPE" (id, nome, cargo, custo_hora, usuario_id) FROM stdin;
1	Gabriel	GESTOR	1.00	2
2	Kevin	TECNICO	1.00	3
3	Jesaebe	SOCIO	1.00	4
4	Claudio	GESTOR	1.00	5
5	Jhonatas	GESTOR	1.00	6
6	Administrador Supremo	GESTOR	100.00	7
\.


--
-- Data for Name: TB_LANCAMENTO_FINANCEIRO; Type: TABLE DATA; Schema: public; Owner: admin_ti
--

COPY public."TB_LANCAMENTO_FINANCEIRO" (id, descricao, valor, status, tipo_lancamento, data_vencimento, created_at, id_cliente) FROM stdin;
\.


--
-- Data for Name: TB_PROVEDOR_INTERNET; Type: TABLE DATA; Schema: public; Owner: admin_ti
--

COPY public."TB_PROVEDOR_INTERNET" (id, nome_operadora, plano_contratado, ip_fixo, telefone_suporte, usuario_pppoe, senha_pppoe, cliente_id) FROM stdin;
1	Vivo	100	10.0.0.1	5 77 9999-9999	admin	00000	1
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: admin_ti
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: admin_ti
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: admin_ti
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: admin_ti
--



--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: admin_ti
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: admin_ti
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: admin_ti
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: admin_ti
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	group
3	auth	permission
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	core	apontamentohoras
8	core	ativo
9	core	chamado
10	core	chamadotecnico
11	core	cliente
12	core	contaemail
13	core	contatocliente
14	core	documentacaotecnica
15	core	equipamentoentrada
16	core	equipe
17	core	lancamentofinanceiro
18	core	provedorinternet
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: admin_ti
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: admin_ti
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Name: TB_APONTAMENTO_HORAS_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin_ti
--

SELECT pg_catalog.setval('public."TB_APONTAMENTO_HORAS_id_seq"', 1, false);


--
-- Name: TB_ATIVO_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin_ti
--

SELECT pg_catalog.setval('public."TB_ATIVO_id_seq"', 1, true);


--
-- Name: TB_CHAMADO_TECNICO_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin_ti
--

SELECT pg_catalog.setval('public."TB_CHAMADO_TECNICO_id_seq"', 3, true);


--
-- Name: TB_CHAMADO_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin_ti
--

SELECT pg_catalog.setval('public."TB_CHAMADO_id_seq"', 2, true);


--
-- Name: TB_CLIENTE_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin_ti
--

SELECT pg_catalog.setval('public."TB_CLIENTE_id_seq"', 19, true);


--
-- Name: TB_CONTATO_CLIENTE_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin_ti
--

SELECT pg_catalog.setval('public."TB_CONTATO_CLIENTE_id_seq"', 1, false);


--
-- Name: TB_CONTA_EMAIL_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin_ti
--

SELECT pg_catalog.setval('public."TB_CONTA_EMAIL_id_seq"', 1, false);


--
-- Name: TB_DOCUMENTACAO_TECNICA_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin_ti
--

SELECT pg_catalog.setval('public."TB_DOCUMENTACAO_TECNICA_id_seq"', 1, false);


--
-- Name: TB_EQUIPAMENTO_ENTRADA_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin_ti
--

SELECT pg_catalog.setval('public."TB_EQUIPAMENTO_ENTRADA_id_seq"', 1, false);


--
-- Name: TB_EQUIPE_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin_ti
--

SELECT pg_catalog.setval('public."TB_EQUIPE_id_seq"', 6, true);


--
-- Name: TB_LANCAMENTO_FINANCEIRO_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin_ti
--

SELECT pg_catalog.setval('public."TB_LANCAMENTO_FINANCEIRO_id_seq"', 1, false);


--
-- Name: TB_PROVEDOR_INTERNET_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin_ti
--

SELECT pg_catalog.setval('public."TB_PROVEDOR_INTERNET_id_seq"', 1, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin_ti
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin_ti
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin_ti
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 72, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin_ti
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin_ti
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 7, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin_ti
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin_ti
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin_ti
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 18, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin_ti
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 24, true);


--
-- Name: TB_APONTAMENTO_HORAS TB_APONTAMENTO_HORAS_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public."TB_APONTAMENTO_HORAS"
    ADD CONSTRAINT "TB_APONTAMENTO_HORAS_pkey" PRIMARY KEY (id);


--
-- Name: TB_ATIVO TB_ATIVO_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public."TB_ATIVO"
    ADD CONSTRAINT "TB_ATIVO_pkey" PRIMARY KEY (id);


--
-- Name: TB_CHAMADO_TECNICO TB_CHAMADO_TECNICO_id_chamado_id_tecnico_cb0989d1_uniq; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public."TB_CHAMADO_TECNICO"
    ADD CONSTRAINT "TB_CHAMADO_TECNICO_id_chamado_id_tecnico_cb0989d1_uniq" UNIQUE (id_chamado, id_tecnico);


--
-- Name: TB_CHAMADO_TECNICO TB_CHAMADO_TECNICO_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public."TB_CHAMADO_TECNICO"
    ADD CONSTRAINT "TB_CHAMADO_TECNICO_pkey" PRIMARY KEY (id);


--
-- Name: TB_CHAMADO TB_CHAMADO_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public."TB_CHAMADO"
    ADD CONSTRAINT "TB_CHAMADO_pkey" PRIMARY KEY (id);


--
-- Name: TB_CHAMADO TB_CHAMADO_protocolo_key; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public."TB_CHAMADO"
    ADD CONSTRAINT "TB_CHAMADO_protocolo_key" UNIQUE (protocolo);


--
-- Name: TB_CLIENTE TB_CLIENTE_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public."TB_CLIENTE"
    ADD CONSTRAINT "TB_CLIENTE_pkey" PRIMARY KEY (id);


--
-- Name: TB_CONTATO_CLIENTE TB_CONTATO_CLIENTE_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public."TB_CONTATO_CLIENTE"
    ADD CONSTRAINT "TB_CONTATO_CLIENTE_pkey" PRIMARY KEY (id);


--
-- Name: TB_CONTA_EMAIL TB_CONTA_EMAIL_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public."TB_CONTA_EMAIL"
    ADD CONSTRAINT "TB_CONTA_EMAIL_pkey" PRIMARY KEY (id);


--
-- Name: TB_DOCUMENTACAO_TECNICA TB_DOCUMENTACAO_TECNICA_cliente_id_key; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public."TB_DOCUMENTACAO_TECNICA"
    ADD CONSTRAINT "TB_DOCUMENTACAO_TECNICA_cliente_id_key" UNIQUE (cliente_id);


--
-- Name: TB_DOCUMENTACAO_TECNICA TB_DOCUMENTACAO_TECNICA_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public."TB_DOCUMENTACAO_TECNICA"
    ADD CONSTRAINT "TB_DOCUMENTACAO_TECNICA_pkey" PRIMARY KEY (id);


--
-- Name: TB_EQUIPAMENTO_ENTRADA TB_EQUIPAMENTO_ENTRADA_id_chamado_key; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public."TB_EQUIPAMENTO_ENTRADA"
    ADD CONSTRAINT "TB_EQUIPAMENTO_ENTRADA_id_chamado_key" UNIQUE (id_chamado);


--
-- Name: TB_EQUIPAMENTO_ENTRADA TB_EQUIPAMENTO_ENTRADA_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public."TB_EQUIPAMENTO_ENTRADA"
    ADD CONSTRAINT "TB_EQUIPAMENTO_ENTRADA_pkey" PRIMARY KEY (id);


--
-- Name: TB_EQUIPE TB_EQUIPE_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public."TB_EQUIPE"
    ADD CONSTRAINT "TB_EQUIPE_pkey" PRIMARY KEY (id);


--
-- Name: TB_EQUIPE TB_EQUIPE_usuario_id_key; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public."TB_EQUIPE"
    ADD CONSTRAINT "TB_EQUIPE_usuario_id_key" UNIQUE (usuario_id);


--
-- Name: TB_LANCAMENTO_FINANCEIRO TB_LANCAMENTO_FINANCEIRO_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public."TB_LANCAMENTO_FINANCEIRO"
    ADD CONSTRAINT "TB_LANCAMENTO_FINANCEIRO_pkey" PRIMARY KEY (id);


--
-- Name: TB_PROVEDOR_INTERNET TB_PROVEDOR_INTERNET_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public."TB_PROVEDOR_INTERNET"
    ADD CONSTRAINT "TB_PROVEDOR_INTERNET_pkey" PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: TB_APONTAMENTO_HORAS_id_chamado_tecnico_919117ec; Type: INDEX; Schema: public; Owner: admin_ti
--

CREATE INDEX "TB_APONTAMENTO_HORAS_id_chamado_tecnico_919117ec" ON public."TB_APONTAMENTO_HORAS" USING btree (id_chamado_tecnico);


--
-- Name: TB_ATIVO_id_cliente_130f719c; Type: INDEX; Schema: public; Owner: admin_ti
--

CREATE INDEX "TB_ATIVO_id_cliente_130f719c" ON public."TB_ATIVO" USING btree (id_cliente);


--
-- Name: TB_CHAMADO_TECNICO_id_chamado_26ecb80b; Type: INDEX; Schema: public; Owner: admin_ti
--

CREATE INDEX "TB_CHAMADO_TECNICO_id_chamado_26ecb80b" ON public."TB_CHAMADO_TECNICO" USING btree (id_chamado);


--
-- Name: TB_CHAMADO_TECNICO_id_tecnico_9a6d87b6; Type: INDEX; Schema: public; Owner: admin_ti
--

CREATE INDEX "TB_CHAMADO_TECNICO_id_tecnico_9a6d87b6" ON public."TB_CHAMADO_TECNICO" USING btree (id_tecnico);


--
-- Name: TB_CHAMADO_id_cliente_4bbd3d08; Type: INDEX; Schema: public; Owner: admin_ti
--

CREATE INDEX "TB_CHAMADO_id_cliente_4bbd3d08" ON public."TB_CHAMADO" USING btree (id_cliente);


--
-- Name: TB_CHAMADO_protocolo_122472cb_like; Type: INDEX; Schema: public; Owner: admin_ti
--

CREATE INDEX "TB_CHAMADO_protocolo_122472cb_like" ON public."TB_CHAMADO" USING btree (protocolo varchar_pattern_ops);


--
-- Name: TB_CONTATO_CLIENTE_cliente_id_a328526a; Type: INDEX; Schema: public; Owner: admin_ti
--

CREATE INDEX "TB_CONTATO_CLIENTE_cliente_id_a328526a" ON public."TB_CONTATO_CLIENTE" USING btree (cliente_id);


--
-- Name: TB_CONTA_EMAIL_cliente_id_d4da24e6; Type: INDEX; Schema: public; Owner: admin_ti
--

CREATE INDEX "TB_CONTA_EMAIL_cliente_id_d4da24e6" ON public."TB_CONTA_EMAIL" USING btree (cliente_id);


--
-- Name: TB_LANCAMENTO_FINANCEIRO_id_cliente_124d4ba1; Type: INDEX; Schema: public; Owner: admin_ti
--

CREATE INDEX "TB_LANCAMENTO_FINANCEIRO_id_cliente_124d4ba1" ON public."TB_LANCAMENTO_FINANCEIRO" USING btree (id_cliente);


--
-- Name: TB_PROVEDOR_INTERNET_cliente_id_211161e7; Type: INDEX; Schema: public; Owner: admin_ti
--

CREATE INDEX "TB_PROVEDOR_INTERNET_cliente_id_211161e7" ON public."TB_PROVEDOR_INTERNET" USING btree (cliente_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: admin_ti
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: admin_ti
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: admin_ti
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: admin_ti
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: admin_ti
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: admin_ti
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: admin_ti
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: admin_ti
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: admin_ti
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: admin_ti
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: admin_ti
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: admin_ti
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: admin_ti
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: TB_APONTAMENTO_HORAS TB_APONTAMENTO_HORAS_id_chamado_tecnico_919117ec_fk_TB_CHAMAD; Type: FK CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public."TB_APONTAMENTO_HORAS"
    ADD CONSTRAINT "TB_APONTAMENTO_HORAS_id_chamado_tecnico_919117ec_fk_TB_CHAMAD" FOREIGN KEY (id_chamado_tecnico) REFERENCES public."TB_CHAMADO_TECNICO"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: TB_ATIVO TB_ATIVO_id_cliente_130f719c_fk_TB_CLIENTE_id; Type: FK CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public."TB_ATIVO"
    ADD CONSTRAINT "TB_ATIVO_id_cliente_130f719c_fk_TB_CLIENTE_id" FOREIGN KEY (id_cliente) REFERENCES public."TB_CLIENTE"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: TB_CHAMADO_TECNICO TB_CHAMADO_TECNICO_id_chamado_26ecb80b_fk_TB_CHAMADO_id; Type: FK CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public."TB_CHAMADO_TECNICO"
    ADD CONSTRAINT "TB_CHAMADO_TECNICO_id_chamado_26ecb80b_fk_TB_CHAMADO_id" FOREIGN KEY (id_chamado) REFERENCES public."TB_CHAMADO"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: TB_CHAMADO_TECNICO TB_CHAMADO_TECNICO_id_tecnico_9a6d87b6_fk_TB_EQUIPE_id; Type: FK CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public."TB_CHAMADO_TECNICO"
    ADD CONSTRAINT "TB_CHAMADO_TECNICO_id_tecnico_9a6d87b6_fk_TB_EQUIPE_id" FOREIGN KEY (id_tecnico) REFERENCES public."TB_EQUIPE"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: TB_CHAMADO TB_CHAMADO_id_cliente_4bbd3d08_fk_TB_CLIENTE_id; Type: FK CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public."TB_CHAMADO"
    ADD CONSTRAINT "TB_CHAMADO_id_cliente_4bbd3d08_fk_TB_CLIENTE_id" FOREIGN KEY (id_cliente) REFERENCES public."TB_CLIENTE"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: TB_CONTATO_CLIENTE TB_CONTATO_CLIENTE_cliente_id_a328526a_fk_TB_CLIENTE_id; Type: FK CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public."TB_CONTATO_CLIENTE"
    ADD CONSTRAINT "TB_CONTATO_CLIENTE_cliente_id_a328526a_fk_TB_CLIENTE_id" FOREIGN KEY (cliente_id) REFERENCES public."TB_CLIENTE"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: TB_CONTA_EMAIL TB_CONTA_EMAIL_cliente_id_d4da24e6_fk_TB_CLIENTE_id; Type: FK CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public."TB_CONTA_EMAIL"
    ADD CONSTRAINT "TB_CONTA_EMAIL_cliente_id_d4da24e6_fk_TB_CLIENTE_id" FOREIGN KEY (cliente_id) REFERENCES public."TB_CLIENTE"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: TB_DOCUMENTACAO_TECNICA TB_DOCUMENTACAO_TECNICA_cliente_id_13e6f770_fk_TB_CLIENTE_id; Type: FK CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public."TB_DOCUMENTACAO_TECNICA"
    ADD CONSTRAINT "TB_DOCUMENTACAO_TECNICA_cliente_id_13e6f770_fk_TB_CLIENTE_id" FOREIGN KEY (cliente_id) REFERENCES public."TB_CLIENTE"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: TB_EQUIPAMENTO_ENTRADA TB_EQUIPAMENTO_ENTRADA_id_chamado_ce21de48_fk_TB_CHAMADO_id; Type: FK CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public."TB_EQUIPAMENTO_ENTRADA"
    ADD CONSTRAINT "TB_EQUIPAMENTO_ENTRADA_id_chamado_ce21de48_fk_TB_CHAMADO_id" FOREIGN KEY (id_chamado) REFERENCES public."TB_CHAMADO"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: TB_EQUIPE TB_EQUIPE_usuario_id_cec276c1_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public."TB_EQUIPE"
    ADD CONSTRAINT "TB_EQUIPE_usuario_id_cec276c1_fk_auth_user_id" FOREIGN KEY (usuario_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: TB_LANCAMENTO_FINANCEIRO TB_LANCAMENTO_FINANCEIRO_id_cliente_124d4ba1_fk_TB_CLIENTE_id; Type: FK CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public."TB_LANCAMENTO_FINANCEIRO"
    ADD CONSTRAINT "TB_LANCAMENTO_FINANCEIRO_id_cliente_124d4ba1_fk_TB_CLIENTE_id" FOREIGN KEY (id_cliente) REFERENCES public."TB_CLIENTE"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: TB_PROVEDOR_INTERNET TB_PROVEDOR_INTERNET_cliente_id_211161e7_fk_TB_CLIENTE_id; Type: FK CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public."TB_PROVEDOR_INTERNET"
    ADD CONSTRAINT "TB_PROVEDOR_INTERNET_cliente_id_211161e7_fk_TB_CLIENTE_id" FOREIGN KEY (cliente_id) REFERENCES public."TB_CLIENTE"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: admin_ti
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict fmg3omBQYxgsntA49MpFdWJCqSvd8P4umViFuhsi7pfmRLxDiV2JQvP1wGe9fIJ

