version: '3.8'

services:
  # -----------------------------------------------------------------
  # SERVIÇO DE BANCO DE DADOS (POSTGRESQL)
  # -----------------------------------------------------------------
  db:
    image: postgres:16-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin_ti -d sistema_ti_db"]
      interval: 5s
      timeout: 5s
      retries: 5
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./frontend/dist:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend

  # -----------------------------------------------------------------
  # SERVIÇO DE CACHE (REDIS)
  # -----------------------------------------------------------------
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  # -----------------------------------------------------------------
  # SERVIÇO BACKEND (DJANGO)
  # -----------------------------------------------------------------
  backend:
    build: ./backend
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000 --workers 3
    volumes:
      - ./backend:/app
      - ./static_volume:/app/staticfiles
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

  # -----------------------------------------------------------------
  # SERVIÇO FRONTEND (REACT + VITE)
  # -----------------------------------------------------------------
  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
    command: sh -c "npm install && npm run dev -- --host"
    depends_on:
      - backend

volumes:
  postgres_data:
